* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 43px;
  line-height: 50px;
  font-weight: 601;
  color: #060606;
}
.p-text {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.w-80 {
}
/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  height: 100px;
}
.header__title h1 {
  margin-left: 5rem;
  color: #fb811e;
}
.header__title a:hover h1,
.header__title a:hover i {
  color: #060606;
}
.header__title a:hover {
  text-decoration: none;
}
/* .header__title .fa-leaf:hover{
  color: #060606;
} */
.header ul li {
  list-style-type: none;
}
.header ul {
  margin: 0.3rem;
}
header li:hover {
  color: #fb811e;
}
.dropdown-toggle::after {
  display: none;
}
.header .fa-align-justify {
  color: #fff;
}
.header__title h1 {
  position: relative;
  font-size: 32px;
  padding: 0px;
}
.header__content {
  padding: 1rem 0;
}
.header__title .fa-leaf {
  position: absolute;
  top: 22%;
  left: 9.3%;
  color: #fb811e;
}
.icon__search {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1rem;
  padding: 1px 8px;
  font-size: 20px;
}
.icon__moon .fa-moon-o {
  font-size: 25px;
  margin-top: 5px;
  color: #fff;
}
.icon__moon:hover i {
  cursor: pointer;
  color: #fb811e;
}
.dropdown-menu {
  min-width: 14rem;
}
.top {
  top: 67px;
}
/* CAROUSEL */
.carousel__farm {
  width: 59%;
}
.carousel__title {
  z-index: 99999;
  top: 20%;
  left: 15%;
  width: 37%;
}
.carousel-caption {
  left: inherit;
  right: 5%;
}
.carousel-inner h5 span {
  font-size: 25px;
}
.title__welcome {
  top: 65%;
}
.title__Farm h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}
.title__welcome h3 {
  font-size: 40px;
  line-height: 57px;
  font-weight: 501;
}
.title__welcome p {
  font-size: 20px;
  color: #6c757d;
  margin: 2rem 0;
  margin-right: -6rem;
}
.carousel__farm {
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}
.carousel-indicators li {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 0 0.3rem;
  background-color: #fff;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: #fb811e;
}
/* LEADER */
.leader__content {
  padding: 2rem 0;
}
.leader__text {
  width: 50%;
  margin: 2rem 1rem;
  padding: 2rem 4rem;
}
.leader__left {
  margin-right: 2rem;
}
.leader__item {
  width: 17rem;
  background-color: #fff;
  height: 12rem;
  margin: 2rem 0rem;
  padding: 3rem 4rem;
  border-radius: 8%;
  position: relative;
  transition: all 0.5s;
  top: 0;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
}
.text__leader {
  color: #6c757d;
}
.leader__item:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.leader__item:hover h4 {
  color: #009f4d;
}
.leader__item h4 {
  font-size: 22px;
  font-weight: 600;
}
.leader__item .item__icon img {
  width: 100%;
  padding: 2rem;
  margin-top: -3rem;
}
.leader__item .item__icon {
  padding-left: 0.4rem;
}
/* CHOOSE */
.hover__title:hover {
  cursor: pointer;
  color: #009f4d;
}
.container {
  max-width: 1280px;
}
.choose {
  padding: 5rem 0;
  background-color: #009f4d;
}
.choose__service:hover {
  color: #009f4d;
}
.choose .choose__service {
  top: 50px;
  left: 0;
  z-index: 1;
}
.choose__title__content {
  z-index: 2;
  color: #fff;
}
.choose__service h4 {
  color: #fff;
  font-weight: bold;
  opacity: 0.14;
  font-size: 12vw;
}
.choose__title__text {
  font-size: 1.25rem;
  font-weight: 300;
  padding-right: 0rem;
}
.choose__item .card {
  border-radius: 20px;
  border: inherit;
}
.choose__item img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card__title {
  display: inline;
  color: #009f4d;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.choose__item h4 {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  margin: 15px 0;
}
.choose__item p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
/* QUALITY */
.item__detail h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.quality__item span .fa {
  font-size: 30px;
  color: #fb811e;
}
.quality__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.quality__box h6 {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.quality__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
/*  Quality content list */
/* .quality__content__list {
  margin-left: 5.6rem;
} */

.item__quality {
  /* margin-top: 30px; */
  border-radius: 10px;
  border: 1px solid transparent;
  /* padding: 2rem 1rem; */
  /* background-color: #fafafa; */
  /* transition: 0.3s all; */
  /* max-width: 29%; */
  /* margin-right: 30px; */
}
/* .item__quality:hover {
  cursor: pointer;
  border: 1px solid #eee;
  transition: 0.3s ease-in;
  box-shadow: -1px 2px 12px -9px var(--box-shadow);
  background: #fff;
} */
.quality__item__content:hover {
  cursor: pointer;
  border: 1px solid #eee;
  transition: 0.3s ease-in;
  /* box-shadow: -1px 2px 12px -9px var(--box-shadow); */
  background: #fff;
}
.item__quality:hover h4 {
  color: #009f4d;
}
.quality__item__content {
  border: 1px solid transparent;
  border-radius: 5px;
}
.quality__item__content .item__icon img {
  max-width: 100%;
  height: auto;
}
.quality__item__content .item__text h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
}
.quality__item__content .item__text p {
  margin-top: 10px;
  padding-right: 1rem;
}
.gallery__effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
  transition: all 0.5s;
}
.gallery__content {
  overflow: hidden;
}
.gallery__effect:hover::before {
  animation-name: layerFade;
  animation-duration: 1s;
}
/* GALLERY */
.galley {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 0.5em;
}
.galley__list {
  margin-right: 0;
  margin-left: 0;
}
.gallery__content {
  padding-right: 0;
  padding-left: 0;
}
.gallery__effect img {
  width: 100%;
}

.gallery__title {
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}

/* SLIDER */
.farm__slide {
  background-image: url(../img/bg1.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.owl-carousel {
  padding-top: 5rem;
}
.slider__detail {
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-item img {
  width: 43%;
  border-radius: 50%;
}
.slider__content {
  width: 80%;
  transform: translateX(10%);
}
.slider__img {
  transform: translateX(30%);
}

.slider__person h3 {
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0 5px;
  color: #fff;
}
.slider__person p {
  color: #fff;
  font-size: 16px;
}
.slider__text {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.slider__text .fa-quote-left {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
  margin-left: -2rem;
}

.slider__text p {
  width: 750px;
  padding-left: 22px;
  padding-right: 62px;
}
.owl-nav {
  display: none;
}
.owl-dots {
  margin-top: 2rem;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #fb811e !important;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px !important;
  height: 10px !important;
  margin: 0px 7px !important;
  /* background: #fff !important ;
  opacity: 0.5 !important; */
}
.footer__item h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}
.footer__text p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.footer__icom__item {
  margin: 0.9rem 0.5rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: aliceblue;
  color: #009f4d;
  transition: all 0.5s;
}
.footer__icom__item .fa-facebook {
  padding: 0.5rem 0.8rem;
}
.footer__icom__item .fa-linkedin {
  padding: 0.5rem 0.7rem;
}
.footer__icom__item .fa-twitter {
  padding: 0.5rem 0.7rem;
}
.footer__icom__item .fa-google-plus {
  padding: 0.6rem 0.5rem;
}
.footer__icom__item .fa-github {
  padding: 0.5rem 0.6rem;
}
.footer__title__farm h1 {
  color: #fb811e;
}
.footer__title__farm .fa-align-justify {
  color: #fff;
}
.footer__title__farm h1 {
  position: relative;
  font-size: 32px;
  padding: 0px;
}
/* .header__content {
  padding: 1rem 0;
} */
.footer__title__farm .fa-leaf {
  position: absolute;
  top: 0%;
  left: 14.3%;
  color: #fb811e;
}
.footer__form input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}
.footer__form button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 13px 12px;
  cursor: pointer;
  width: 18%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
  margin-left: -4px;
}
.hover__foooter:hover {
  cursor: pointer;
  color: #fb811e;
}
.hover__name {
  color: #009f4d;
}
.hover__name:hover {
  cursor: pointer;
  color: #fb811e;
}
.footer__icom__item:hover {
  cursor: pointer;
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/*  */
@media screen and (max-width: 1200px) {
  .leader__left {
    margin-right: 1rem;
  }
  .leader__text {
    width: 50%;
    margin: 2rem 0rem;
    padding: 2rem 4rem;
}
}
/*  */
@media screen and (max-width: 992px) {
  .title__welcome h3 {
    font-size: 25px;
    line-height: 40px;
  }
  .leader__text {
    width: 100%;
  }
  .leader__text__list {
    margin-left: 53px;
  }
  .leader__item {
    width: 22rem;
    margin: 2rem -3rem;
  }
  .leader__item .item__icon img {
    padding: 3.9rem;
    margin-top: -6rem;
  }
  .leader__item h4 {
    margin-top: -2rem;
    margin-left: 3rem;
  }
  .item__quality {
    /* max-width: 39%; */
  }
  .quality__list__item {
    width: 80%;
  }
  .leader__left {
    width: 29%;
    margin-left: 5rem;
  }
  .leader__right{
    margin-left: 9rem;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .header__title h1 {
    font-size: 37px;
  }
  .carousel__title {
    top: 15%;
  }
  .header__title .fa-leaf {
    left: 18.6%;
  }
  .title__Farm h2 {
    font-size: 95px;
    margin-left: 0.5em;
  }
  .title__welcome h3 {
    font-size: 20px;
    line-height: 36px;
    margin-left: 86px;
    width: 267px;
  }
  .title__welcome p {
    font-size: 15px;
    color: #6c757d;
    margin: 1rem 0;
    margin-right: -103px;
    margin-left: 5rem;
  }
  .btn-style {
    font-size: 14px;
    line-height: 32px;
    padding: 5px 20px;
    margin-left: 33px;
  }
  .leader__text {
    width: 100%;
  }
  
  .leader__text__list {
    margin-left: -5px;
}
  .col-4 {
    max-width: 100% !important;
  }
  .choose__item .card {
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .quality__box {
    left: 3px;

    padding: 14px;

    min-width: 250px;
  }
  .item__quality {
    /* padding: 2rem 0rem; */
    /* max-width: 77%; */
    /* margin-right: 28px; */
  }
  .slider__content {
    width: 100%;
    transform: translateX(10%);
  }
  .slider__text {
    font-size: 15px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
  }
  .slider__text p {
    width: inherit;
    padding-left: 22px;
    padding-right: 62px;
  }
  .owl-carousel {
    padding-top: 2rem;
  }
  .owl-dots {
    margin-top: 0rem;
  }
  .leader__item {
    width: 18rem;
    margin: 2rem -2rem;
  }
  .leader__item .item__icon img {
    padding: 1.9rem;
    margin-top: -3rem;
  }
  .leader__left {
    width: 20%;
    margin-right: 165px;
}
  .leader__item h4 {
    margin-top: -1rem;
    margin-left: 1rem;
  }
  .leader__right {
    margin-left: 1rem;
}
}
/* điện thoại */

@media screen and (max-width: 576px) {
  .header__title h1 {
    position: relative;
    font-size: 25px;
    padding: 0px;
  }
  .header__title .fa-leaf {
    position: absolute;
    top: 25%;
    left: 21.3%;
    color: #fb811e;
    font-size: 17px;
  }
  .icon__search {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 1rem;
    padding: 1px 8px;
    font-size: 16px;
  }
  .title__Farm h2 {
    font-size: 72px;
    margin-left: 0.5em;
  }
  .title__welcome h3 {
    font-size: 14px;
    line-height: 23px;
    width: 176px;
    margin-left: 86px;
  }
  .title__welcome p {
    font-size: 13px;
    color: #6c757d;
    margin: 1rem 0;
    margin-right: -1rem;
  }
  .btn-style {
    font-size: 12px;
    line-height: 26px;
    padding: 5px 20px;
  }
  .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .leader__text {
    width: 100%;
    margin: 2rem 1rem;
    padding: 2rem 4rem;
  }
  .leader__text__list {
    margin-left: 25%;
  }
  .title-style {
    font-size: 27px;
  }
  .choose__title__text {
    font-size: 17px;
  }
  .col-4 {
    max-width: 100% !important;
  }
  .choose__item .card {
    margin-top: 5rem;
  }
  .quality__box {
    left: 3px;

    padding: 14px;

    min-width: 250px;
  }
  .item__quality {
    /* padding: 2rem 0rem;
    max-width: 77%;
    margin-right: 28px; */
  }
  .slider__content {
    width: 100%;
    transform: translateX(10%);
  }
  .slider__text {
    font-size: 15px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
  }
  .slider__text p {
    width: inherit;
    padding-left: 22px;
    padding-right: 62px;
  }
  .owl-carousel {
    padding-top: 2rem;
  }
  .owl-dots {
    margin-top: 0rem;
  }
.leader__left {
  margin-left: 9rem;
}
.leader__right {
  margin-left: 9rem;
}
.leader__text__list{
  margin-left: 0rem;
}

}
@keyframes layerFade {
  0% {
    visibility: visible;
    left: -75%;
  }
  99% {
    visibility: hidden;
    left: 175%;
  }
  100% {
    left: -75%;
    visibility: visible;
  }
}
